.sortable {
	cursor: pointer;
	color: #dd5;
}

.warning {
	background-color: #da8a8a;
}

table {
 color: #111;
 border-radius: 5px;
 overflow: hidden;
 margin: 12px 0;
 min-width: 300px;
 background: #c0bcbc;
}

.header-row {
	background: #34495E;
	color: #fff
}

th, td {
	text-align: left;
	margin: 5px 10px;
	padding: 6px;
}

#data:nth-child(even){
	background: rgb(148, 175, 97);
}

#data:nth-child(odd){
	background: rgb(171, 173, 167);
}